$font-stack: 'Quicksand', sans-serif;
$darkRed: #721325;
$magenta: #BF324D;

html {
	height: 100%;
}

body {
	background: #721325;
	color: #fff;
	font: 100% $font-stack;
	font-size: 16px;
}

/*Skewed background */
.skew {
	position: absolute;
	top: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	background: $magenta;
	-webkit-clip-path: polygon(55% 0, 100% 0, 100% 100%, 45% 100%);
	clip-path: polygon(55% 0, 100% 0, 100% 100%, 45% 100%);
}

.first {
	height: 60px;
}

/* NAVBAR STYLES */
nav.navbar {
	background: $darkRed;
	border: none;
	border-bottom: 1px solid #fff;
}

nav.navbar h1 {
	display: inline-block;
	margin: 12px 0 0 43vw;
	font-size: 1.3em;
}

.navbar-default .navbar-toggle span.icon-bar {
	background-color: #fff;
}

.navbar-default button.navbar-toggle:hover,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus {
	background: $magenta;
}

.sr-only {
	background-color: $magenta;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active {
	border: none;
	background-color: $darkRed;
}

.navbar-default .navbar-nav li a {
	color: #fff;
	text-align: center;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:active,
.navbar-default .navbar-nav li a:focus {
	color: #fff;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:active,
.navbar-default .navbar-nav li a:focus {
	color: $magenta;
}

.navbar-default .navbar-nav .border_bottom {
	border-bottom: 1px solid #fff;
}

/* END NAVBAR STYLES */

.logo {
	font-size: 4em;
	font-weight: 700;
	letter-spacing: .05em;
	text-align: center;
}

form.login {
	margin: 25px 0;
}

#landing button {
	background: transparent;
	border: none;
	color: #fff;
	font-size: 1em;
	padding: 0;
	text-align: left;
}

#landing button:hover {
	color: #fff
}

button:active, 
button:focus {
	outline: none;
}

input[type="submit"] {
	width: 100%;
	height: 40px;
	background: none;
	border: 1px solid #fff;
	border-radius: 4px;
	color: #fff;
}

button:hover {
	color: #fff;
	text-decoration: none;
}

form#register {
	display: none;
}

#split .vert_center,
#choices_for_new_event .vert_center {
	height: 200px;
	margin: 30vh 0 0 0;
}

#split a.button,
#choices_for_new_event a.button, {
	color: #fff;
	padding: 10px 20px;
	border: 1px solid white;
	border-radius: 5px;
	text-align: left;
	font-size: 1em;
}

#split a:hover,
#choices_for_new_event a:hover,
#split a:active,
#choices_for_new_event a:active,
#split a:focus,
#choices_for_new_event a:focus,
 {
	color: $darkRed;
	text-decoration: none;
}

.dark_red_background {
	background: $magenta;
}

.dark_red_background:hover,
.dark_red_background:active,
.dark_red_background:focus {
	background: #fff;
	color: $darkRed;
}

.magenta_background {
	background: $darkRed;
}

.magenta_background:hover,
.magenta_background:active,
.magenta_background:focus {
	background: #fff;
	color: $darkRed;
}

/* SPECIAL STYLES FOR MEETUP IMPORT BUTTON */
#event_from_meetup_button.button.dark_red_background {
	border-radius: 100%;
}

/* Overrides */

.btn-default:hover {
	color: $magenta;
}

nav {
	background: $magenta;
}