<%- include('partials/head') %>

<div class="skew">
</div>

<div id="landing" class="container-fluid">
		<div class="row first"></div>

		<div class="row">
			<h1 class="logo">same</h1>
		</div>
		
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				
				<% if (loginMessage.length > 0) { %>
					<div class="alert alert-danger"><%= loginMessage %></div>
				<% } %>
				<% if (signupMessage.length > 0) { %>
					<div class="alert alert-danger"><%= signupMessage %></div>
				<% } %>

				<form action="/login" method="post" class="login" id="login">
					<h3 class="which_form">Login</h3>
					<div class="form-group">
						<label for="email">Email</label>
						<input name="email" type="text" class="form-control" placeholder="hello@same.com">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input name="password" type="password" class="form-control" placeholder="Sup3rStr0ngPa55w0rd">
					</div>
					<input type="submit" class="btn btn-default">
				</form>

				<form action="/register" method="post" class="login" id="register">
					<h3 class="which_form">Register</h3>
					<div class="form-group">
						<label for="email">Email</label>
						<input name="email" type="text" class="form-control" placeholder="welcome@same.com">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input name="password" type="password" class="form-control" placeholder="Sup3rStr0ngPa55w0rd">
					</div>
					<input type="submit" class="btn btn-default">
				</form>
				<button href="/register" class="register_link"id="toggle_forms">Not registered? Sign up here!</button>

			</div>
			<div class="col-xs-2"></div>
		</div>
</div>

<%- include('partials/foot') %>