<%- include('partials/head') %>

<!--BACKGROUND -->
<div class="skew">
</div>

<!--BUTTONS-->
<div id="split" class="container">
		<div class="row vert_center">
			<a href="/events/new" id="newEvent" class="button dark_red_background col-xs-5">I am creating an event.</a>
			<div class="col-xs-2"></div>
			<a href="#" class="button magenta_background col-xs-5">I am attending an event.</a>
		</div>
</div>

<%- include('partials/foot') %>