<%- include('partials/head') %>

<!--RESPONSIVE NAVBAR-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    	<h1 class="logo">same</h1>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="border_bottom"><a href="#">My Events</a></li>
        <li><a href="#">My Connections</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--BACKGROUND -->
<div class="skew">
</div>

<!--BUTTONS-->
<div id="split" class="container">
		<div class="row vert_center">
			<a href="/events/new" id="newEvent" class="button dark_red_background col-xs-5">I am creating an event.</a>
			<div class="col-xs-2"></div>
			<a href="#" class="button magenta_background col-xs-5">I am attending an event.</a>
		</div>
</div>

<%- include('partials/foot') %>