<%- include('../partials/head') %>
<div class="skew">
</div>

<div class="container-fluid card">
	<%=console.log(event) %>
	<h4 class="card-title"><%= event.name %></h4>
</div>






<%- include('../partials/foot') %>