<%- include('../partials/head') %>

<div class="skew">
</div>

<div id="choices_for_new_event" class="container">
	<div class="row vert_center">
		<div class="col-xs-3"></div>
		<div class="badge_container col-xs-6">
			<a href="/events/new/search" id="event_from_meetup_button" class="badge button dark_red_background"><div class="badge_content">Import an<br />event from<br />Meetup<br /><i class="fa fa-meetup" aria-hidden="true"></i></div></a>
    </div>
		<div class="col-xs-3"></div>
  </div>
  <div class="row vert_center">
    <div class="col-xs-3"></div>
      <a href="/events/new" class="button magenta_background col-xs-6">Create event from scratch</a>
    <div class="col-xs-3"></div>
  </div>
</div>


<%- include('../partials/foot') %>