<%- include('../partials/head')%>	

<div class="skew">
</div>

	<ul>
		<% if (body) { %>
			<% for (let i; i < body.length; i++) { %>
				<li><%= { body } %></li>
			<% } %>
		<% } %>
	</ul>

<%- include('../partials/foot') %>